rect.background {
    cursor: move;
}

g.network > text {
    cursor: default;
}

g.module {
    cursor: pointer;
}

.drag-mode g.module {
    cursor: grab;
}

.drag-mode g.module:active {
    cursor: grabbing;
}
