.dropzone {
    border: 1px dashed #999;
    border-radius: 5px;
}

.parent {
    display: flex;
    flex-wrap: nowrap;
    height: 300px;
    overflow-x: auto;
    padding: 1em 1.5em;
    margin: 0;
    gap: 1rem;
    --box-width: 150px;
}

.parent .child {
    flex: 0 0 var(--box-width);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    list-style-type: none;
    cursor: grab;
    position: relative;
}

.parent .child:active {
    cursor: grabbing;
}
